%h1 Project Tasks
%table.table.table-striped
  %thead
    %tr
      %th Project
      %th Pending
      %th In Progress
      %th Done
      %th 

  %tbody
    - Project.all.each do |project|
      %tr
        %td
          .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :id => "project#{project.id}", :role => "dialog"}
          = link_to project.title, pie_data_admin_user_tasks_path(current_user, project: project.id), remote: true
        - if project.tasks.present?
          - tasks = project.tasks
          - tasks.group_by(&:status).each do |status, tasks_list|
            - if status["pending"].present?
              - tasks_list.each do |task|
                %td= task.title
            - if status["in_progress"].present?
              - tasks_list.each do |task|
                %td= task.title
            - if status["done"].present?
              - tasks_list.each do |task|
                %td= task.title
%br
