- if project.errors.any?
  #error_explanation
    %h2
      = pluralize(project.errors.count, "error")
      prohibited this project from being saved:
    %ul
      - project.errors.full_messages.each do |message|
        %li= message
.field
  = form.label :title
  = form.text_field :title
.field
  = form.label :description
  = form.text_area :description
= form.collection_select(:user_ids, Developer.all, :id, :email, {include_hidden: false}, {multiple: true})

  
.actions
  = form.submit
`